<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pelamis VIII Dashboard</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

  <!-- Header -->
  <div class="header">
    <div>Nama Tim: Pelamis VIII</div>
    <div>PT: IPB University</div>
  </div>

  <!-- Content -->
  <div class="container">

    <!-- Left Column -->
    <div class="column left">
      <p><b>Lintasan A</b></p>

      <div class="attitude"><b>Attitude:</b> XXXXXXXX</div>
      <div class="sog"><b>SOG:</b> XXX m/s <br> XXX knots</div>
      <div class="cog"><b>COG:</b> XXX °</div>
      <div class="battery"><b>Battery Level:</b> XX %</div>
    </div>

    <!-- Middle Column -->
    <div class="column middle">
      <p><b>Real Time Camera:</b></p>
      <img src="{{ url_for('video_feed') }}" class="camera">

      <p><b>Trajectory Graph:</b></p>
      <input type="image" src="../static/aset/OIB_ANT_2012_F16_sea_ice_endurance_labels.png" alt="trajectory" class="trajectory">
    </div>

    <!-- Right Column -->
    <div class="column right">
      <div class="logo">PELAMIS</div>

      <p><b>Surface Imaging</b></p>
      <button onclick="capture()">📸 Jepret</button>
      <br><br>
      <img id="surface_img" src="" alt="Belum ada foto" class="air">

      <p><b>Underwater Imaging</b></p>
      <button onclick="capture2()">📸 Jepret</button>
      <br><br>
      <img id="underwater_img" src="" alt="Belum ada foto" class="underwater" >
    </div>

  </div>
<script>
  function capture() {
    fetch("/capture", { method: "POST" })
      .then(res => res.json())
      .then(data => {
        if (data.status === "success") {
          // update foto hasil jepret, dari file di static/upload/
          document.getElementById("surface_img").src = data.path + "?t=" + new Date().getTime();
        } else {
          alert("Gagal jepret!");
        }
      });
  }
</script>

<script>
   function capture2() {
    fetch("/capture2", { method: "POST" })
      .then(res => res.json())
      .then(data => {
        if (data.status === "success") {
          // update foto hasil jepret, dari file di static/upload/
          document.getElementById("underwater_img").src = data.path + "?t=" + new Date().getTime();
        } else {
          alert("Gagal jepret!");
        }
      });
  }
</script>
</body>
</html>
